@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: whitesmoke;
  
}

h1 {
    font-family: "Public Sans", sans-serif;
    padding: 20px 0;

}

#content {
    padding: 20px;
}

.item {
    width: 100%;
    margin-bottom: 20px;
    max-width: 450px;
    transition: opacity 2s ease-in-out;
    background: rgba(236, 233, 233, 0.2); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: stretch    ;
    overflow: hidden;
    .img-container{
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 25px;
        background-color: white;
        img {
            width: 300px;
            height: auto; /* Maintain aspect ratio */
            object-fit: contain; /* Ensure the image fits within the element without cropping */
            margin: 15px;
        }
    }


}




.text {
    background-color: #f1faee;
    height: 100%;
    padding: 25px;
    h2{
        font-family: "SUSE", sans-serif;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
        font-family: "Inter", sans-serif;

    }
 }


  header, footer {
    background-color: #333;
    color: white;
    padding: 25px;
    text-align: center;
  }
  
  main ul {
    list-style-type: none;
    padding: 0;
  }
  
  main li {
    background-color: #f4f4f4;
    margin: 5px 0;
  }
  